{% extends "layout.html" %} {% block title %}Task Creation{% endblock %}
 
{% block content %}
 
<br>

<h1 align="center"><b>Create Tasks</b></h1>

<br>
 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form 
                method="POST" 
                action="{{ url_for('views.create_task') }}">

                <div class="mb-3">
                    <label for="details">Task Details:</label>
                    <div class="input-group justify-content-center">
                        <input 
                            type="text" 
                            id="details" 
                            name="details" 
                            class="form-control"
                            placeholder="details"
                            required>
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="details">Duration (in hours):</label>
                    <div class="input-group justify-content-center">
                        <input 
                            type="number" 
                            id="duration" 
                            name="duration" 
                            class="form-control"
                            placeholder="duration"
                            required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="details">Date of completion:</label>
                    <div class="input-group justify-content-center">
                        <input 
                            type="datetime-local" 
                            id="due_date" 
                            name="due_date" 
                            class="form-control"
                            placeholder="Date of completion"
                            required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="priority">Priority (1,2 and 3 for high, medium, low):</label>
                    <div class="input-group justify-content-center">
                        <select 
                            name="priority" 
                            id="priority"
                            class="form-control">
                            <option value="3">Low</option>
                            <option value="2">Medium</option>
                            <option value="1">High</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="difficulty">Difficulty (1,2 and 3 for easy, medium, hard):</label>
                    <div class="input-group justify-content-center">
                        <select 
                            name="difficulty" 
                            id="difficulty"
                            class="form-control">
                            <option value="1">Easy</option>
                            <option value="2">Medium</option>
                            <option value="3">Hard</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="details">Notes:</label>
                    <div class="input-group justify-content-center">
                        <textarea 
                            id="notes" 
                            name="notes" 
                            class="form-control" 
                            placeholder="Add any notes here" 
                            rows="3">
                        </textarea>
                    </div>
                </div>
             
                <div class="text-center">
                    <button
                        type="submit"
                        class="btn btn-primary">
                        Create Task
                    </button>
                    <button 
                        onclick="history.back()"
                        class="btn btn-secondary">
                        Cancel
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<br>
 
 {% endblock %}
