 <!--extends layout.html's template to other webpages-->
 {% extends "layout.html" %}

 {% block title %}Settings{% endblock %} <!--Page title-->
 
 {% block content %} <!--Page body-->
 
 <h1>Editing</h1>

<!--establishes the connection to edit_task function in the views.py folder-->
 <form method="POST" action="{{ url_for('views.edit_task', task_id=task.id) }}">

    <!--Used to display the initial task details-->
    <!--Can be edited here-->
    <div>
        <label 
            for="details">
            Task Details:
        </label>
        <input 
            type="text" 
            id="details" 
            name="details" 
            value="{{ task.details }}" 
            required
        >
    </div>

    <!--Used to display the initial duration details-->
    <!--Can be edited here-->
    <div>
        <label 
            for="duration">
            Duration (in hours):
        </label>
        <input 
            type="number" 
            id="duration" 
            name="duration" 
            value="{{ task.duration }}" 
            required
        >
    </div>

    <!--Used to display the initial due_date details-->
    <!--Can be edited here-->
    <div>
        <label 
            for="due_date">
            Due Date:
        </label>
        <input 
            type="datetime-local" 
            id="due_date" 
            name="due_date" 
            <!--Makes sure that the datetime variable is displayed in the correct format-->
            value="{{ task.due_date|datetimeformat }}"
        >
    </div>

    <div>
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
    </div>

    <div>
        <label for="difficulty">Difficulty</label>
        <select name="difficulty" id="difficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
    </div>
    
    <button
        type="submit">
        Save Changes
    </button>

    <!--Used to go back to the previous page-->
    <button 
        onclick="history.back()">
        Cancel
    </button>

</form>


 {% endblock %}

    <!--<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>

                    <!--When the user tries to make an input, the placeholder is moved up-->
                    <div class="form-floating mb-3">
                        <input 
                            type="email" 
                            class="form-control" 
                            id="email" 
                            placeholder="Email">
                        <label for="email">Enter your Email...</label>
                    </div>

                    <!--The same applies to the password-->
                    <div class="form-floating mb-3">
                        <input 
                            type="password" 
                            class="form-control" 
                            id="password" 
                            placeholder="Password">
                        <label for="password">Enter your Password...</label>
                    </div>

                </form>
            </div>
        </div>
    </div>-->

