{% extends "layout.html" %}

{% block title %}Settings{% endblock %}
 
{% block content %}

<style>

    /*The CSS tags are used to styalise the page*/
    /*In this instance, its to give a consistant composition*/
    /*To all elements that use the attribute 'form-control'*/
    /*Makes the text look neatly aligned and comfortable*/
    textarea.form-control {
        padding: 5px;     
        text-align: left;     
        vertical-align: top;     
        line-height: 1;        
        height: auto;           
    }

</style>

<br><br>

<h1 align="center"><b>Editing</b></h1>

<br>

<p align="center">Hey {{ user.username }}! here you can edit your tasks!</p>
 
<br>

<!--container class used to keep the input box in the margins-->
<!--gives the input box consistency when adjusting for screen size-->
<div class="container">
    <!--used to align the box horizontally in the center-->
    <!--the grid system is used to help with this-->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form 
                method="POST" 
                action="{{ url_for('utils.edit_task', task_id=task.id) }}">

                <!--Each input boxes receives the class mb-3-->
                <!--'mb-3' defines the amount of spacing inbetween elements-->
                <!--the grid system is used, so there are 3 grid spaces inbetween each element-->
                <!--form control is use to style the input boxes for each element-->
                <!--it normally bevels the corners and makes them look sleeker-->
                <div class="mb-3">
                    <label for="details">Task Details</label>
                    <div class="input-group justify-content-center">
                    <input 
                        type="text" 
                        id="details" 
                        name="details" 
                        value="{{ task.details }}" 
                        required
                        class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="duration">Duration (in minutes)</label>
                    <div class="input-group justify-content-center">
                    <input 
                        type="number" 
                        id="duration" 
                        name="duration" 
                        value="{{ task.duration }}" 
                        required
                        class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="due_date">Due Date</label>
                    <div class="input-group justify-content-center">
                    <input 
                        type="datetime-local" 
                        id="due_date" 
                        name="due_date" 
                        value="{{ task.due_date|datetimeformat }}"
                        class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="priority">Priority</label>
                    <div class="input-group justify-content-center">
                        <select 
                            name="priority" 
                            id="priority"
                            class="form-control">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="difficulty">Difficulty</label>
                    <div class="input-group justify-content-center">
                        <select 
                            name="difficulty" 
                            id="difficulty"
                            class="form-control">
                            <option value="Easy">Easy</option>
                            <option value="Medium">Medium</option>
                            <option value="Hard">Hard</option>
                        </select>
                    </div>
                </div>

                <br>

                <div class="mb-3">
                    <label for="notes">Notes</label>
                    <div class="input-group justify-content-center">
                        <textarea 
                            id="notes" 
                            name="notes" 
                            class="form-control" 
                            placeholder="Add any notes here" 
                            rows="3">
                            {{ task.notes or '' }}
                        </textarea>
                    </div>
                </div>

                <br>

                <div class="text-center">
                    <button
                        type="submit"
                        class="btn btn-primary">
                        Save Changes
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button 
                        onclick="history.back()"
                        class="btn btn-secondary">
                        Cancel
                        <i class="bi bi-X"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<br>

{% endblock %}
