 <!--extends layout.html's template to other webpages-->
 {% extends "layout.html" %}

 {% block title %}Home{% endblock %} <!--Page title-->
 
{% block content %} <!--Page body-->
 
<h1>Tidily Day Tracker</h1>

<br><br>
<!--Displays the username associated with the user-->
<p>Welcome, {{ user.username }}</p>
<br><br>

{% for task in tasks %}

    <!--Displays all the necessary task details-->
    <div>
        <h3>{{ task.details }}</h3>
        <p>Duration: {{ task.duration }} hours</p>
        <p>Due Date: {{task.due_date }}</p>
        <p>Created on: {{ task.creation_date.strftime('%Y-%m-%d') }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Difficulty: {{ task.difficulty }}</p>

        <form 
            action="{{ url_for('views.delete_task') }}" 
            method="POST"
        >
            <input 
                type="hidden" 
                name="task_id" 
                value="{{ task.id }}"
            >
            <button 
                type="submit" 
                class="btn btn-danger" 
                onclick="return confirm('Are you sure you want to delete this task?')">
                Delete
            </button>
        </form>
     
    </div>

{% else %}

<!--The user is given a link to create more tasks incase there are none-->
<p>Make a new task: <a href="{{ url_for('views.create_task') }}">Add Task</a> </p>

{% endfor %}
 
{% endblock %}
