{% extends "layout.html" %} {% block title %}Home{% endblock %} <!--Page title-->
 
{% block content %}

<style>

    /*stylizes the navbar so it avoids being altered by the theme change*/
    /*achieved by giving the attribute the !important tag*/
    /*border removed to give it a clean look*/
        #custom-navbar {
        background-color: transparent !important;
        border: none; 
    }

    /*All buttons are made transparent*/
    /*This is so they can look loke the background color*/
    /*This also means the text in the buttons is contrasting the background*/
    .custom-btn {
        background-color: transparent;
        border: 1px solid #ccc;
        color: inherit;
        transition: background-color 0.3s, color 0.3s;
    }

    /*used for a hover effect on all buttons*/
    /*slightly darkens the button to indicate the user is interacting with it*/
    .custom-btn:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #000; 
    }

    /*used for any active buttons*/
    /*darkens the button more than the hover effect to establish that a button is being used*/
    .custom-btn.active {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: #555;
        color: #000;
    }

</style>

<br>

<!--Titled made bold to attract the user's attention-->
<h1 align="center"><b>Tidily Day Tracker</b></h1>

<br>

<!--Username used to introduce the user to the home page-->
<p align="center">Welcome, {{ user.username }}</p>

<br>

<!--container class used to keep the input box in the margins-->
<!--gives the input box consistency when adjusting for screen size-->
<div class="container">
    <!--used to align the box horizontally in the center-->
    <!--the grid system is used to help with this-->
    <div class="row justify-content-center">
        <!--Navbar class used to denote an item menu-->
        <!--This navbar class in particular is for the filter options-->
        <!--'navbar-expand' makes the navbar adjustable depending on screen size-->
        <!--navbar-light makes the navbar contrast with the background so it's distinct -->
        <!--bg-light applies a grey background to each selectable box within the navbar for stylization-->
        <nav 
            id="custom-navbar" 
            class="navbar navbar-expand navbar-light bg-light d-flex justify-content-center">

            <!--Each box uses the 'd-inline' tag-->
            <!--This forces each element next to each other horizontally-->
            <!--Each button is established under a 'custom-btn' class-->
            <!--This allows for each button to be styled by CSS-->
            <!--Each button can detect whether the filter is active or not-->
            <!--In response to being active, the button is highlighted-->

            <!--Filter option for the most recent tasks-->
            <form
                method="POST"
                action="{{ url_for('utils.filter_tasks') }}"
                class="d-inline">
                <input
                    type="hidden"
                    name="filter"
                    value="creation_date">
                <button
                    type="submit"
                    class="btn custom-btn"
                    {% if filter_type == 'creation_date' %}active{% endif %}>
                    Recently Created Tasks
                </button>
            </form>

            <!--Filter option for tasks due today-->
            <form
                method="POST"
                action="{{ url_for('utils.filter_tasks') }}"
                class="d-inline">
                <input
                    type="hidden"
                    name="filter"
                    value="due_date">
                <button
                    type="submit"
                    class="btn custom-btn"
                    {% if filter_type == 'due_date' %}active{% endif %}>
                    Tasks due today
                </button>
            </form>
                        
            <!--Filter option for already completed tasks-->
            <form
                method="POST"
                action="{{ url_for('utils.filter_tasks') }}"
                class="d-inline">
                <input
                    type="hidden"
                    name="filter"
                    value="completed">
                <button
                    type="submit"
                    class="btn custom-btn"
                    {% if filter_type == 'completed' %}active{% endif %}>
                    Completed Tasks
                </button>
            </form>

            <!--Filter option for starred tasks-->
            <form
                method="POST"
                action="{{ url_for('utils.filter_tasks') }}"
                class="d-inline">
                <input
                    type="hidden"
                    name="filter"
                    value="starred">
                <button
                    type="submit"
                    class="btn custom-btn"
                    {% if filter_type == 'starred' %}active{% endif %}>
                    Starred Tasks
                </button>
            </form>

            <!--These filters do not hide tasks that do not meet the criteria-->
            <!--They simply put those that meet the criteria at the forefront-->

        </nav>
    </div>
</div>

<br>

<!--search bar class for searching for specific tasks-->
<!--the div class forces the search bar to be centered and expand under the navbar-->
<div class="container">
    <div class="col-md-6 mx-auto">
        <form 
            method="POST" 
            action="{{ url_for('views.home') }}"
            class="d-flex align-items-center">

            <!--The search bar takes in all user values as 'search_query'-->
            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="search tasks..."
                value="{{ search_query }}">
            <button 
                type="submit" 
                class="btn btn-primary">
                Search
            </button>

        </form>
    </div>
</div>

<br>

<!--The block being used here means everything within it is applied for all tasks-->
<!--Every task gets these features and is represented in the same way-->
{% for task in tasks %}

    <!--The div classes contain the task details in a box-->
    <!--This gives a clear division between each task-->
    <!--The box has also been made large using 'col-md-10'-->
    <!--SO the user is able to see most detail within the box-->
    <div class="container mt-3">
        <div class="text-center">
            <div class="col-md-10 mx-auto">

            <!--the div class creates an outline for the container and adds some padding-->
            <div class="task-box border rounded p-3">
                <!--In the box are all the task details the user needs to know about-->
                <h3>{{ task.details }}</h3>
                <div>Duration: {{ task.duration }} hours</div>
                <div>Due Date: {{task.due_date }}</div>
                <div>Created on: {{ task.creation_date.strftime('%Y-%m-%d') }}</div>
                <div>Priority: {{ task.priority }}</div>
                <div>Difficulty: {{ task.difficulty }}</div>
                <!--The task notes are separated from the main attributes-->
                <!--This is to denote it as a 'minor' attribute-->
                <div class="separator"></div>
                <div><strong>Notes: </strong>{{ task.notes or "" }}</div>
            </div>

            <br>

            <!--button for completing a task-->
            <form 
                method = 'POST' 
                action="{{ url_for('utils.update_task') }}"
                class="d-inline">
                <input 
                    type="hidden" 
                    name="task_id" 
                    value="{{ task.id }}">
                <input 
                    type="hidden"
                    name="action" 
                    value="complete">
                <!--the completion button is a bit dynamic-->
                <!--It changes its text whenever selected-->
                <button 
                    type="submit" 
                    class="btn btn-outline-success">
                    {% if task.completed %}
                        Unmark as Completed
                    {% else %}
                        Mark as Completed
                    {% endif %}
                </button>
            </form>

            <!--the star button is a bit dynamic-->
            <!--It changes its text whenever selected-->
            <form 
                method = 'POST' 
                action="{{ url_for('utils.update_task') }}"
                class="d-inline">
                <input 
                    type="hidden" 
                    name="task_id" 
                    value="{{ task.id }}">
                <input 
                    type="hidden" 
                    name="action" 
                    value="star">
                <!--the completion button is a bit dynamic-->
                <!--It changes its text whenever selected-->
                <button 
                    type="submit" 
                    class="btn btn-outline-warning">
                    {% if task.starred %}
                        Unstar Task
                    {% else %}
                        Star Task
                    {% endif %}
                </button>
            </form>

            <!--button for editing a  ask-->
            <form 
                method="GET"
                action="{{ url_for('utils.edit_task', task_id=task.id) }}"
                class="d-inline">
                <button 
                    type="submit" 
                    class="btn btn-outline-primary">
                    Edit
                </button>
            </form>
            
            <!--button for deleting a task-->
            <form 
                method="POST"
                action="{{ url_for('utils.delete_task') }}"
                class="d-inline">
                <input 
                    type="hidden" 
                    name="task_id" 
                    value="{{ task.id }}">
                <!--To give the user time to think about their actions, the button is attached with a notification-->
                <!--It's to allow the user a bit of time as to whether they want to permanently delete a task or not-->
                <button 
                    type="submit" 
                    class="btn btn-outline-danger" 
                    onclick="return confirm('Are you sure you want to delete this task?')">
                    Delete
                </button>
            </form>
            
        </div>
    </div>
</div>

{% endfor %}

<br>

<!--The button to sort tasks-->
<!--Is separate from the task block as there only needs to be one button-->
<!--has been made red (btn btn-danger) to draw user attention to it-->
<div class="text-center">
    <form 
        method="POST" 
        action="{{ url_for('sort.sort_tasks') }}">
        <button 
            type="submit" 
            class="btn btn-danger">
            Sort Tasks
        </button>
    </form>
</div>

<br>

{% endblock %}
