Ss<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <!--Makes the page able to dynamically fit onto any tab size-->
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!--Creates a base title that is overidden by the page title-->
    <title>{% block title %}Name{% endblock %}</title>

    <!--Imports my CSS functions-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!--Basic navbar for testing-->
    <nav>
        
    <nav>
        <!--Only certain tabs can be accessed when the user is logged in-->
        {% if user.is_authenticated %}
            <a href="{{ url_for('views.home') }}">Home</a>
            <a href="{{ url_for('views.create_task') }}">Add Task</a>
            <a href="{{ url_for('views.settings') }}">Settings</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
        <!--This is the same for when they are logged out-->
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
        
    </nav>

    </nav>

    <!--Content block-->
    <!--Used to store that page's code-->
    <div class="container">

        {% block content %}{% endblock %}

    </div>
    
</body>

</html>
