{% extends "layout.html" %} {% block title %}Settings{% endblock %}
 
{% block content %}
 
<style>

    /*stylises the navbar so it avoids being altered by the theme change*/
    /*achieved by giving the attribute the !important tag*/
    /*border removed to give it a clean look*/
    #custom-navbar {
        background-color: transparent !important;
        border: none; 
    }

    /*All buttons are made transparent*/
    /*This is so they are able to lok loke the background color*/
    /*This also means the text in the buttons is contrasting the background*/
    .theme-button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /*used for a hover affect on all buttons*/
    /*slightly darkens the button to indicate the user is interacting with it*/
    .form-check {
        margin: 0;
    }

    /*used for any active buttons*/
    /*sarkens the button more than the hover affect to establish that a button is being used*/
    .form-check-label {
        display: inline-block;
        padding-left: 5px;
    }


</style>

<br>

<!--Bold title to attract user attention-->
<h1 align="center"><b>Settings</b></h1>

<!--Separator to distinguish the page contents from the page title-->
<div class="separator"></div>

<br>

<h3 align="center">Adjusts weights</h3>

<br>

<p align="center">Hello {{ user.username }}! here you can modify the weights of your tasks to prioritize attributes over others</p>

<br>

<!--container class used to keep the input box in the margins-->
<!--gives the input box consistency when adjusting for screen size-->
<div class="container">
    <!--used to align the box horizontally in the center-->
    <!--the grid system is used to help with this-->
    <div class="row justify-content-center">
        <!--Navbar class used to denote an item menu-->
        <!--This navbar class in particular is for the filter options-->
        <!--'navbar-expand' makes the navbar adjustable depending on screen size-->
        <!--navbar-light makes the navbar contrast with the background so it's distinct -->
        <!--bg-light applies a grey background to each selectable box within the navbar for styalization-->
        <nav 
            id="custom-navbar" 
            class="navbar navbar-expand navbar-light bg-light d-flex justify-content-center">
            <form
                method="POST"
                action="{{ url_for('views.settings') }}"
                class="d-flex align-items-center gap-2">
                <!--class='me-2' creates margins between each element to space them out more-->

                <!--Input box for the due date weight-->
                <div class="d-inline">
                    <label for="weight_due_date" class="me-2">
                        Due Date
                    </label>
                    <!--The class is set to w-auto so it can adjust to the user's input values-->
                    <input
                        type="number"
                        id="weight_due_date"
                        name="weight_due_date"
                        value="{{ user_preferences.weight_due_date }}"
                        min="0"
                        max="1"
                        step="0.01"
                        oninput="validateWeights()"
                        class="form-control d-inline w-auto">
                </div>
                    
                <!--Input box for the durartion weight-->
                <div class="d-inline">
                    <label for="weight_duration" class="me-2">
                        Duration
                    </label>
                    <input
                        type="number"
                        id="weight_duration"
                        name="weight_duration"
                        value="{{ user_preferences.weight_duration }}"
                        min="0"
                        max="1"
                        step="0.01"
                        oninput="validateWeights()"
                        class="form-control d-inline w-auto">
                </div>

                <!--Input box for the priority weight-->
                <div class="d-inline">
                    <label for="weight_priority" class="me-2">
                        Priority
                    </label>
                    <input
                        type="number"
                        id="weight_priority"
                        name="weight_priority"
                        value="{{ user_preferences.weight_priority }}"
                        min="0"
                        max="1"
                        step="0.01"
                        oninput="validateWeights()"
                        class="form-control d-inline w-auto">
                </div>

                <!--Input box for the difficulty weight-->
                <div class="d-inline">
                    <label for="weight_difficulty" class="me-2">
                        Difficulty
                    </label>
                    <input
                        type="number"
                        id="weight_difficulty"
                        name="weight_difficulty"
                        value="{{ user_preferences.weight_difficulty }}"
                        min="0"
                        max="1"
                        step="0.01"
                        oninput="validateWeights()"
                        class="form-control d-inline w-auto">
                </div>

                <br>

                <!--Submit button that saves the user's weighs-->
                <!--Can be disabled if the inputted weights do not equate to 1-->
                <div class="d-inline ms-3">
                    <button
                        type="submit"
                        id="save-button"
                        class="btn btn-primary"
                        disabled>
                        Save Preferences
                        <i class="bi bi-check"></i>
                    </button>
                </div>

            </form>
        </nav>
    </div>
</div>

<!--Error message that comes up if the user fails to properly adjust their weights-->
<p 
    id="error-message" 
    style="color: red; display: none;"
    class="text-center">
    The weightings must equal 1
</p>

<br>

<p align="center">You can also change the website's theme!</p>

<br>

<!--div class for saving the user's theme-->
<div class="text-center">
    <form method="POST" action="{{ url_for('customization.save_theme') }}">
        <h3>Choose Theme</h3>

        <br>

        <!--both themes are set to be radio buttons-->
        <!--This makes it easier for the user to tell whether a button has been selected or not-->
        <!--This also makes it easier for the website to tell which theme is active-->
        <!--And therefore adjust accordingly-->

        <!--Radio button for the app's light theme-->
        <div class="theme-button-container">
            <input 
                type="radio" 
                id="light" 
                name="theme" 
                value="light" 
                class="form-check-input"
                {% if current_user.theme == 'light' %}checked{% endif %}>
            <label 
                for="light"
                class="form-check-label">
                Light Mode
            </label>
        </div>

        <!--Radio button for the app's dark theme-->
        <div class="theme-button-container">
            <input 
                type="radio" 
                id="dark" 
                name="theme" 
                value="dark" 
                class="form-check-input"
                {% if current_user.theme == 'dark' %}checked{% endif %}>
            <label 
                for="dark"
                class="form-check-label">
                Dark Mode
            </label>
        </div>

        <br>

    </form>
</div>

<br>

<script>

    //Function that is used to validate the weights provided by the user in the form
    function validateWeights() {
        //retrieves the value of each weight
        //this will be used for calculating the weights
        //as well as validating if they are in the correct form or not
        const weights = [
            parseFloat(document.getElementById("weight_due_date").value) || 0,
            parseFloat(document.getElementById("weight_duration").value) || 0,
            parseFloat(document.getElementById("weight_priority").value) || 0,
            parseFloat(document.getElementById("weight_difficulty").value) || 0,
        ];

        //all weights are added up to find the weight total
        const totalWeight = weights.reduce((a, b) => a + b, 0);
        //all success and error messages are retrieved
        //this is in preparation to tell the user if the sorting was a success/failure
        const errorMessage = document.getElementById("error-message");
        const saveButton = document.getElementById("save-button");

        //conditional block for weights that exceed the value of 1
        if (totalWeight > 1) {
            errorMessage.style.display = "block";
            errorMessage.textContent = "Total weight cannot exceed 1.";
            //this causes the save button to be turned off
            //so the user cannot put forward their changes
            saveButton.disabled = true;
        //conditional block for weights that are below the value of 1
        } else if (totalWeight < 1) {
            errorMessage.style.display = "block";
            errorMessage.textContent = "Total weight must equal 1.";
            //this causes the save button to be turned off
            //so the user cannot put forward their changes
            saveButton.disabled = true;
        } else {
            //any error messages are hidden if the conditionals are met
            errorMessage.style.display = "none";
            //if none of these conditionals are found to be true, the user can proceed
            saveButton.disabled = false;
        }
    }

</script>

{% endblock %}
